<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/app}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div th:replace="~{/layouts/_message}"></div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        <!-- Notification Table -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Notification List</h3>
                            </div>
                            <div class="card-body p-0" style="overflow:auto;">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Email</th>
                                        <th>Title</th>
                                        <th>Created Date</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="notification : ${notifications}">
                                        <td th:text="${notification.id}"></td>
                                        <td th:text="${notification.user.email}"></td>
                                        <td th:text="${notification.title}"></td>
                                        <td th:text="${notification.createdAt}"></td>
                                        <td>
                                            <a th:href="@{'/dashboard/notification/detail/' + ${notification.id}}"
                                               class="btn btn-sm" style="background: #CD9A6A;color:#fff">Detail</a>
                                            <a th:href="@{${'/dashboard/notification/delete/' + notification.id}}" class="btn btn-danger btn-sm">Delete</a>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div layout:fragment="script">
</div>
</body>
</html>
