<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/app}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div th:replace="~{/layouts/_message}"></div>
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Comment List</h1>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Comment List</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>User</th>
                                            <th>Content</th>
                                            <th>Post</th>
                                            <th>isActive</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="value : ${comments}">
                                            <td th:text="${value.id}"></td>
                                            <td>
                                            <span th:if="${value.user}">
                                                <span th:text="${value.user.name}"></span>
                                            </span>
                                            <span th:if="${value.provider}">
                                                <span th:text="${value.provider.name}"></span>
                                            </span>
                                            </td>
                                            <td th:text="${value.content}"></td>
                                            <td th:text="${value.post.title}"></td>

                                            <td th:text="${value.isActive == false ? 'inActive' : 'Active'}"></td>
                                            <td>
                                                <a th:href="@{${'/dashboard/comment/delete/' + value.id}}" class="btn btn-danger btn-sm">Delete</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </div>
</div>
<div layout:fragment="script">

</div>
</body>
</html>